@media screen and (max-width:992px){
    .section{
      padding-top: 4rem;
    }
     
 }
 @media screen and (min-width:992px){
     .section{
       padding-top: 19rem;
     }
      
  }
  
  *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 
 html{
   font-size: 6px;
 }
 @media screen and (min-width:576px) {
   .container{
       max-width: 540px;
   }
   html{
       font-size: 6px;
   }
 
 
 }
 @media screen and (min-width:768px) {
   .container{
       max-width: 720px;
   }
   html{
       font-size: 7px;
   }
 
 }
 @media screen and (min-width:992px) {
   .container{
       max-width: 960px;
   }
   html {
       font-size: 7px;
   }
 
 }
 @media screen and (min-width:1200px) {
   .container{
       max-width: 1140px;
   }
   html{
       font-size: 9px;
   }
 }
  /*Template Sonrası*/
 
  /* Genel Ayarlar */
  .section {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    background-color: #f0f0f0; /* Arka plan rengi */
    text-align: center; /* Metin ortalaması */
    clear: both;
  }
 
  .section .content-h1{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 30px 0px;
  }
  

  
  .section .content-h1 h1 {
    font-size: 5rem;
  }
  
  .section .column {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    flex-basis: calc(33.33% - 20px); /* Sütun genişliğini tanımla (3 sütun) */
    box-sizing: border-box; /* Kenar boşlukları dahil genişlik hesaplaması */
    margin: 10px; /* Sütunlar arasındaki boşluk */
  }

  .section .column img {
    height: 250px;
  }
  .section .column a {
    width: 100%;
   
  }
  
  
  
  .section .column h3 {
    font-size: 20px;
    margin: 10px 0;
    color: black;
  }
  
  .section .column a.more {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .section .column a.more:hover{
    background-color: #2980b9;
  }
  
  .section .column:hover{
    transform: translateY(-10px); /* Hover ile animasyon */
  }
  
  .section .clearfix::after{
    content: "";
    display: table;
    clear: both;
  }

  /* Media Queries - Tablet (2 column) */
@media (max-width: 768px) {
  .section .column {
    flex-basis: calc(50% - 20px); /* 2 sütun düzeni */
  }
}

/* Media Queries - Mobile (1 column) */
@media (max-width: 576px) {
  .section{
    display: block; /* Flex yerine block kullanarak her sütunu tam genişlikte yap */
  }
  .section .column{
    width: 100%; /* Mobilde tam genişlik */
    margin: 0 0 20px 0; /* Yatay kenar boşluklarını kaldır */
  }
}
